.buy-items {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 0 60px 0 60px;
}

.buy-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
}

.buy-item-block {
  width: 300px;
  background-color: #445162;
  border-radius: 1.5%;
  text-align: center;
  padding-bottom: 20px;
}

.buy-item-title {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  margin: 10px;
}

.buy-item-price {
  font-size: 40px;
  font-weight: 400;
  color: #445162;
  text-align: center;
  line-height: 65px;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border: 2px solid #445162;
  margin: 10px 0 10px 0;
}

.buy-item-list {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
}

.buy-button {
  width: 260px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
}