.dignity-block{
  background-color: #f5f5f5;
}

.dignity-info{
  padding-top: 20px;
}

.dignity-plus{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dignity-title{
  margin-top: 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
}

.dignity-icon{
  width: 32px;
  height: 32px;
  background-color: #445161;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 5px;
}

.dignity-icon-plus{
  font-size: 20px;
  color: #ffffff;
}

.dignity-item-description{
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  width: 530px;
}

.dignity-item-block{
  margin-bottom: 35px;
  display: flex;
}