.reviews-block {
  background: #f5f5f5;
}

.reviews-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
}

.reviews-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  font-size: 14px;
  line-height: 1.3em;
}

.review-item-block {
  display: flex;
  margin-bottom: 25px;
}

.review-image {
  height: 76px;
  width: 76px;
  border-radius: 50%;
  background: #445161;
}

.review-description {
  max-width: 450px;
  background: #EBEBEB;
  border-radius: 5px;
  padding: 15px;
}

.review-author {
  color: #989898;
}

.left {
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: #ebebeb;
  border-left: 0;
}