@import "fonts";

body {
  margin: 0;
  font-family: 'ArialMT', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5em;
  padding-top: 25px;
  padding-bottom: 25px;
}