.about-info{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.about-info__title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin: 0;
}

.about-info__text{
  width: 550px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.about-image{
  background-color: #445161;
  width: 430px;
  height: 245px;
}

