.product-block{
    background-color: #445162;
}

.product-info{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info__title{
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.product-info__list{
    list-style-type: none;
    padding: 0;
    color: #ffffff;
    line-height: 36px;
}

.product-info-list__icon{
    padding-right: 5px;
    color: #ffffff;
}

.product-image{
    width: 469px;
    height: 214px;
    background-color: #ffffff;
}