.footer {
  background: #445162;
  color: white;

}

.footer_title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.footer_content {
  display: flex;
  justify-content: space-around;
  padding: 0 150px 0 150px;
}

.footer_form {
  display: flex;
  flex-direction: column;
}

.footer_input {
  border-radius: 5px;
  padding: 13px;
  border: none;
  width: 470px;
  margin-bottom: 20px;
}

.footer_input::placeholder {
  color: #445162;
  font-size: 16px;
}

.form_button {
  width: 140px;
  height: 40px;
  background: white;
  border-radius: 5px;
  color: #445162;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin: 0 auto;
}

input, textarea{
  font-family: 'ArialMT', sans-serif;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 130px;
}

.feedback-icon{
  width: 24px;
  height: 26px;
}

.social_description {
  padding-left: 10px;
  margin: 0;
}

.social {
  display: flex;
}