.scrinshot-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scrinshots-info{
  padding-top: 20px;
  margin-bottom: 20px;
}

.scrinshots-title{
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
}

.scrinshots-image{
  width: 200px;
  height: 150px;
  background-color: #445161;
  margin-right: 10px;
}

.scrinshots-item__title{
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
}

.scrinshots-text{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.scrinshots-info-block{
  width: 360px;
}

.scrinshots-item-block{
  display: flex;
  margin-top: 20px;
}